# General files
node_modules/
.log

# Build files
dist/
build/
bin/

# IDE and editor files
.vscode/

# Temporary files
*.tmp
**/.DS_Store

# Puppeteer-specific
utils/
.puppeteer_dev

# Env files
.env
.env.template

# Log files
app.log