# General files
node_modules/
.log

# Build files
dist/
build/
bin/

# IDE and editor files
.vscode/

# Temporary files
*.tmp
**/.DS_Store

# Puppeteer-specific
.puppeteer_dev

# Prisma files
prisma/migrations/
utils/**/*.db
utils/**/*.db-journal

# Log files
app.log